<div class="usersPanel ">
  <div class=" container " >
    <div class="row w3-center usersPanel alert alert-danger" *ngIf="mode== 0 && errorMessage ">
  <strong>   {{errorMessage}}
 </strong>
    </div>
    <div class="usersPanel panel panel-success " *ngIf="mode==1">
      <div class="panel-heading">
        <strong>New request is sending to your inBox email  </strong>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              You have message  to your inbox email: {{message}}<br/>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="mode==0">
      <h2 style="text-align:center">Inscription pour les utilisateurs</h2>
      <hr/>
    </div>
    <form style="max-width:700px;margin:auto" #f="ngForm" (ngSubmit)="onRegister(f.value)"   *ngIf="mode==0">
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Nom" name="name" required #name="ngModel">
      </div>
      <span class="help-block alert-danger" *ngIf="!name.valid && name.touched">Renseignez votre nom si vous souhaitez être contacté par</span>

      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Prenom" name="lasName" required #lasName="ngModel">
      </div>
      <span class="help-block alert-danger" *ngIf="!lasName.valid && lasName.touched">Renseignez votre prenom si vous souhaitez être contacté par</span>
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Email" name="email" required #email="ngModel">
      </div>
      <span class="help-block alert-danger" *ngIf="!email.valid && email.touched">Renseignez votre email si vous souhaitez être contacté par</span>
      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input ngModel class="input-field" type="password" placeholder="Mot de passe" name="password" required #password="ngModel">
      </div>
      <span class="help-block alert-danger" *ngIf="!password.valid && password.touched">Renseignez votre password si vous souhaitez être contacté par</span>
      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input ngModel class="input-field" type="password" placeholder="Confirmer le mot de passe" name="confirmPassword" required #confirmPassword="ngModel">
      </div>
      <span class="help-block alert-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched">Renseignez votre confirmer si vous souhaitez être contacté par</span>
      <button type="submit" class="btn w3-center" [disabled]="!f.form.valid"><i [ngClass]="{'fab-li fab fa-spinner fa-spin': f.form.valid ? true:false}" style="background-color: red"></i> Register</button>
    </form>
  </div>

</div>
