<div class="usersPanel ">
  <div class=" container " >
    <div class="row w3-center usersPanel alert alert-danger" *ngIf="mode== 0 && errorMessage ">
  <strong>   {{errorMessage}}
 </strong>
    </div>
    <div class="usersPanel panel panel-success " *ngIf="mode==1">
      <div class="panel-heading">
        <strong>New request is sending to your inBox email  </strong>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              You have message  to your inbox email: {{message}}<br/>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="mode==0">
      <h2 style="text-align:center">Inscription pour les utilisateurs</h2>
      <hr/>
    </div>
    <form style="max-width:700px;margin:auto" #f="ngForm" (ngSubmit)="onRegister(f.value)"   *ngIf="mode==0">
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Name" name="name" required>
      </div>
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Last Name" name="lasName" required>
      </div>
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input ngModel class="input-field" type="text" placeholder="Email" name="email" required>
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input ngModel class="input-field" type="password" placeholder="Password" name="password" required>
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input ngModel class="input-field" type="password" placeholder="confirm Password" name="confirmPassword" required>
      </div>

      <button type="submit" class="btn w3-center" [disabled]="!f.valid">Register</button>
    </form>
  </div>

</div>
