<div class="w3-center"
[style.width.px]="starWidth"
[title]= "rating" (click)='onClick()'>
  <div  style="width:100%">
    <span class="fa fa-star "></span>
    <span class=" fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>


    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
  </div>
</div>
