<div class="glyphicon-crop"
[style.width.px]="starWidth"
[title]= "rating" (click)='onClick()'>
  <div style="width:75px">
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>


    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
      <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    <!--</button>-->
  </div>
</div>
