<div class="container">
<div class="containerLogin ">
  <div class="alert alert-danger" *ngIf="mode==0 && errorMessage">
    <p class="w3-center " >
      <strong>{{errorMessage}}</strong>
    </p>
  </div>
  <form  #f="ngForm"(ngSubmit)="login(f.value)">
    <div class="row">
      <div class="container">
      <h2 style="text-align:center">Connectez-vous à votre compte</h2>
      <hr/>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fab fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="#" class="twitter btn">
          <i class="fab fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btn"><i class="fab fa-google fa-fw">
        </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input ngModel type="text" name="email" placeholder="Email" required>
        <input ngModel type="password" name="password" placeholder="Password" required>
        <button class="w3-button  w3-section w3-center" type="submit">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="container signClasse">
        <button class="w3-button  w3-section w3-center "[routerLink]="['/registration']">
          Sign up
        </button>
      </div>
    </div>
    </div>
  </form>

</div>

</div>

