<div class="container usersPanel" *ngIf="professions">
  <div class="col-md-12">
    <div class="tomImg">
      <img class="card" alt="Cinque Terre"  style="width:100%;" src="{{this.catalogueService.host+'/photoprofession/'
        +this.idPublic}}" />

    </div>
  <div *ngFor="let user of professions._embedded.professions">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"  [routerLink]="['/artisant-details/', user.id]">
          <img class="card" alt="Cinque Terre" height="200" style="width:100%;" src="{{this.catalogueService.host+'/photoprofession/'
        +user.id}}" />
        </div>
        <div class="panel-body">
          <table>
            <tr>
              <td>
                <strong> {{user.name}} </strong>
              </td>
            </tr>
            <tr>
              <td>
                {{user.description}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
