<div class="container usersPanel" *ngIf="users">
  <div *ngFor="let user of users._embedded.users">
    <div class="col-md-4">
      <div class="panel panel-default" [routerLink]="['/artisant-details/', user.id]">
        <div class="panel-heading">
          <img class="card" alt="Cinque Terre" height="200" style="width:100%;" src="{{this.catalogueService.host+'/photouser/'
        +user.id}}" />
        </div>
        <div class="panel-body">
          <table>
            <tr>
              <td>
                <strong> {{user.nom}} </strong>
              </td>
            </tr>
            <tr>
              <td>
                {{user.prenom}}
              </td>
            </tr>
            <tr>
              <td>
                <i> Numero de siret: </i> {{user.numeroSiret}}
              </td>
            </tr>
            <tr>
              <td>
                {{user.recommanderBy}}
              </td>
            </tr>
            <tr>
              <td>
                {{user.adresse}}
              </td>
            </tr>
        
          </table>
        </div>
        <div class="panel-footer">
            <button>Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>