<div class="row usersPanel">
  <div class="profContainer " *ngIf="user">
    <div class="col-md-3">

      <div class="w3-card w3-center">
        <img src="{{this.catalogueService.host+'/photouser/'+user.id}}" alt="John" style="width:100%"
             [routerLink]="['/professionel/', user.id]">
        <h3>{{user.nom}} </h3>
        <p class="title"> {{user.prenom}}</p>
        <p class="title"><i> Numéroi de Siret: </i>  {{user.numeroSiret}}</p>
        <p class="title">  {{user.recommanderBy}}</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fab fa-dribbble"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="w3-row">
          <div class="w3-col m3 w3-center " (click)="toggleTel()">
            <h3>Tel</h3>
            <span class="glyphicon glyphicon-earphone" style="font-size:40px;color:red">
            <i class="w3-medium" *ngIf="iscontactChecked">:<b>{{user.tele}}</b></i>
          </span>
          </div>
          <div class="" (click)="toggleWatshap()"
               style="float: right;">
            <h3>Whatsapp</h3>
            <span class="fab fa-whatsapp " style="font-size:40px;color:green;">
            <i class="w3-medium" *ngIf="iscontactWhatShapChecked">:<b>{{user.tele}}</b></i>
          </span>
          </div>
        </div>
        <div class="w3-row ">
          <div class="rating-inline">
            <h4>Notes utilisateur</h4>
            <h2 class="bold padding-bottom-7">{{ user.note}}
              <small>/ 5</small>
            </h2>
          </div>
          <div class="w3-row test" data-toggle="modal" data-target="#myModalEdit">
            <app-stars [rating]=" user.note | number: '1.0-0'" (ratingClicked)='onRatingClicked($event)'></app-stars>
          </div>


          <div id="myModalEdit" class="modal fade" role="dialog" *ngIf="this.catalogueService.isAuthentificated()">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
                  <h4 class="modal-title col-lg-5" id="modal-title">
                    <img src="assets/img/catalogue/img_avatar4.png" class="img-circle " alt="John" style="width:95%">
                  </h4>
                  <h5 class="col-lg-4"><h3> Mr. {{user.nom}} </h3><br/>
                    <h5>tele :{{user.tele}}</h5><br/>
                  </h5>
                </div>
                <div class="modal-body">
                  <div id="serverResponse"></div>
                  <input type="hidden" name="objectId" id="objectId" value="1341464">
                  <div id="contact-seller-form">
                    <div class="row">

                      <form #f="ngForm" class="w3-container">
                        <div class="w3-section">
                          <label><b><h2>Donnez votre avis sur notre professionel. <br/>
                            Tous les commentaires sont verifiés par notre équipe<br/>
                          </h2></b></label>
                          <input type="text" ngModel name="commentaire"
                                 placeholder="Votre avis nous interese sur notre professionel.."
                                 class="w3-container w3-block w3-light-grey w3-padding-64 w3-section onInput"/>
                        </div>
                        <div class="w3-container w3-border-top w3-padding-16 ">
                          <button type="submit" form="contact-seller" class="w3-button w3-green w3-center w3-right"
                                  data-dismiss="modal" (click)="sendCommtaire(f.value, user.id)">Envoyer
                          </button>
                          <button type="button" class="w3-button w3-red w3-left" data-dismiss="modal">
                            Annuler
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-3  " style="background-color:white">
      Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp consectetuer adipiscing elit. Aenean commodo
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam f Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
      vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
      semper
    </div>
    <div class="col-md-2" style="position: relative;margin-top: 4%;">
      <div class="dl-profile-booking-wrapper">
        <div class="dl-profile-booking" id="booking"
             data-props="{&quot;profileSlug&quot;:&quot;charlotte-jouve&quot;,&quot;showTitle&quot;:true,&quot;isPartnersDomain&quot;:false,&quot;account&quot;:{&quot;insuranceSector&quot;:null},&quot;compactLayout&quot;:true,&quot;sticky&quot;:true,&quot;backDrop&quot;:true}">
          <div class="dl-booking-sticky" style="top: 14px;">
            <div>
              <div></div>
              <div style="position: relative;">
                <div>
                  <div class="dl-booking-title"><h3 class="dl-text dl-text-title-sub-bold dl-text-color-inherit"
                                                    style="line-height: 1.4em;">Prenez votre rendez-vous en ligne</h3>
                    <div class="dl-booking-title-subtext"><span class="dl-text dl-text-body dl-text-color-inherit">Renseignez les informations suivantes</span>
                    </div>
                  </div>
                  <div class="booking booking-compact-layout">
                    <div class="dl-step">
                      <div class="dl-step-progress dl-step-progress-completed"></div>
                      <div class="dl-step-number dl-step-number-completed">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <g id="form-/-icon-valid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g fill="#17B355" id="Oval-1">
                              <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10z"></path>
                            </g>
                            <g id="icon-/-valid-/-white" transform="translate(5.000000, 5.000000)">
                              <rect id="Rectangle-3" x="0" y="0" width="10" height="10"></rect>
                              <path
                                d="M9.614.685a.823.823 0 0 0-.686-.168.991.991 0 0 0-.613.385L3.983 7.23 1.601 4.656a.82.82 0 0 0-.65-.313.966.966 0 0 0-.674.264 1.044 1.044 0 0 0-.276.698.952.952 0 0 0 .252.698c1.925 2.15 3.024 3.329 3.297 3.538a.93.93 0 0 0 .71.18.837.837 0 0 0 .59-.397l4.98-7.267a.974.974 0 0 0 .157-.722.964.964 0 0 0-.373-.65z"
                                id="icon-/-valid" fill="#FFF" fill-rule="evenodd"></path>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="dl-layout-container dl-layout-spacing-xs-0">
                        <div class="dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12"><label
                          class="dl-text dl-text-body-subtitle dl-step-label" for="booking_motive">Motif de
                          consultation</label></div>
                        <div class="dl-step-children dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12">
                          <select class="dl-select form-control dl-select-block" id="booking_motive">
                            <option value="">Choisissez un motif</option>
                            <option value="Construction">Construction</option>
                            <option value="Carrelage">Carrelage</option>
                            <option value="Coulage">Coulage</option>
                            <option value="Serrurier">Serrurier</option>
                            <option value="Toiture">Toiture</option>
                            <option value="Poutrage">Poutrage</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <hr class="dl-divider">
                    <div class="dl-step">
                      <div class="dl-step-number">
                        <div>2</div>
                      </div>
                      <div class="dl-layout-container dl-layout-spacing-xs-0">
                        <div class="dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12"><label
                          class="dl-text dl-text-body-subtitle dl-step-label">Sélectionnez votre rendez-vous</label>
                        </div>
                        <div class="dl-step-children dl-layout-item dl-layout-size-xs-12 dl-layout-size-sm-12">
                          <div>
                            <div class="booking-availabilities" style="position: relative;">
                              <div style="overflow: visible; width: 0px;">
                                <div class="dl-desktop-availabilities dl-desktop-availabilities-flat"
                                     style="width: 341px;">
                                  <div class="dl-desktop-availabilities-inner">
                                    <div class="dl-desktop-availabilities-days">
                                      <div class="availabilities-pagination">
                                        <svg class="availabilities-pagination-arrow" width="10" height="16"
                                             viewBox="0 0 10 16">
                                          <path
                                            d="M6.7.5c.2-.3.5-.5 1-.5s.8.2 1.2.5c.5.6.5 1.4 0 2.2L3.5 8 9 13.5c.6.8.6 1.5 0 2.2-.4.3-.8.4-1.3.4-.4 0-.8 0-1-.3L.4 9C0 9 0 8.6 0 8c0-.4 0-.8.4-1L6.7.5z"></path>
                                        </svg>
                                      </div>
                                      <div class="availabilities-day">
                                        <div class="availabilities-day-title">
                                          <div class="availabilities-day-name">sam.</div>
                                          <div class="availabilities-day-date">23 nov.</div>
                                        </div>
                                        <div class="availabilities-slots">
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="availabilities-day">
                                        <div class="availabilities-day-title">
                                          <div class="availabilities-day-name">dim.</div>
                                          <div class="availabilities-day-date">24 nov.</div>
                                        </div>
                                        <div class="availabilities-slots">
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="availabilities-day">
                                        <div class="availabilities-day-title">
                                          <div class="availabilities-day-name">lun.</div>
                                          <div class="availabilities-day-date">25 nov.</div>
                                        </div>
                                        <div class="availabilities-slots">
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                          <div class="availabilities-empty-slot">
                                            <div class="availabilities-empty-slot-dash"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="availabilities-day">
                                        <div class="availabilities-day-title">
                                          <div class="availabilities-day-name">mar.</div>
                                          <div class="availabilities-day-date">26 nov.</div>
                                        </div>
                                        <div class="availabilities-slots">
                                          <div class="availabilities-slot">14:00</div>
                                          <div class="availabilities-slot">14:30</div>
                                          <div class="availabilities-slot">15:00</div>
                                        </div>
                                      </div>
                                      <div class="availabilities-pagination">
                                        <svg class="availabilities-pagination-arrow" width="10" height="16"
                                             viewBox="0 0 10 16">
                                          <path
                                            d="M2.7.5c-.2-.3-.5-.5-1-.5S1 .2.5.5C-.2 1-.2 2 .5 2.7L5.7 8 .5 13.5c-.7.8-.7 1.5 0 2.2.3.3.7.4 1.2.4.4 0 .8 0 1-.3L9 9c.3-.2.4-.5.4-1 0-.4 0-.8-.4-1L2.7.5z"></path>
                                        </svg>
                                      </div>
                                    </div>
                                    <div class="dl-desktop-availabilities-header-border"></div>
                                    <div class="availabilities-more-button">
                                      <button
                                        class="Tappable-inactive dl-button-info-link dl-button dl-button-block dl-button-size-normal"
                                        role="button" type="button"
                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;">
                                        <span class="dl-button-label">Voir plus d'horaires</span></button>
                                    </div>
                                    <div></div>
                                    <div></div>
                                  </div>
                                </div>
                              </div>
                              <div class="booking-availabilities-substitution-block"></div>
                              <span><div></div></span>
                              <div class="resize-triggers">
                                <div class="expand-trigger">
                                  <div style="width: 342px; height: 242px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"    style="padding-left: 7%">
      <button type="button" class="btn btn-lg btn-primary button" (click)="getDevis()"> Demande de devis</button>
    </div>

  </div>
</div>


<div class="w3-container w3-center">
  <h2>Les realisations</h2>
  <p>vous trouverez les differentes realisations de notre professionel qualifié</p>
</div>
<div class="w3-content" style="max-width:1200px">
  <img class="mySlides" src="assets/img/catalogue/img_snow_wide.png" style="width:100%;display:none">
  <img class="mySlides" src="assets/img/catalogue/immo.png" style="width:100%">
  <img class="mySlides" src="assets/img/catalogue/promesse.jpg" style="width:100%;display:none">
  <img class="mySlides" src="assets/img/header-background.png" style="width:100%;display:none">
  <img class="mySlides" src="assets/img/catalogue/batima.png" style="width:100%;display:none">


  <div class="w3-row-padding w3-section">
    <div class="w3-col m2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/catalogue/img_snow_wide.png"
           style="width:100%;cursor:pointer" onclick="currentDiv(1)">
    </div>
    <div class="w3-col m2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/catalogue/immo.png"
           style="width:100%;cursor:pointer" onclick="currentDiv(2)">
    </div>

    <div class="w3-col m2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/catalogue/promesse.jpg"
           style="width:100%;cursor:pointer" onclick="currentDiv(3)">
    </div>
    <div class="w3-col m2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/header-background.png"
           style="width:100%;cursor:pointer" onclick="currentDiv(4)">
    </div>
    <div class="w3-col m2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/catalogue/batima.png"
           style="width:100%;cursor:pointer" onclick="currentDiv(5)">
    </div>
  </div>
  <div *ngIf="userCommentaires">
    <div class="w3-panel w3-sand w3-leftbar" *ngFor="let us of userCommentaires._embedded.userCommentaires">
      <div class="w3-panel w3-sand w3-leftbar">
        <p><i class="fa fa-quote-right w3-xxlarge w3-opacity"></i>
          <span class="w3-serif w3-xlarge">
          {{us.createBy}} <br/>
   <span *ngFor="let comment of us.commentaire"> {{comment}}</span>
          <br/>
   </span>
        </p>
      </div>
    </div>
  </div>
</div>
