<jqxScheduler [theme]="'material'"  #scheduler
              [width]="getWidth()" [height]="600"
              [date]="date"
              [source]="dataAdapter"
              [dayNameFormat]="'abbr'"
              [showLegend]="true"
              [view]="'agendaView'"
              [resources]="resources"
              [views]="views"
              (onAppointmentDelete)="mySchedulerOnAppointmentDelete($event)"
              (onAppointmentAdd)="mySchedulerOnAppointmentAdd($event)"
              (onAppointmentDoubleClick)="mySchedulerOnAppointmentDoubleClick($event)"
              (onAppointmentChange)="mySchedulerOnAppointmentChange($event)"
              (onCellDoubleClick)="mySchedulerOnCellDoubleClick($event)"
              (onEditDialogCreate)="mySchedulerOnDialogCreate($event)"
              (onEditDialogClose)="mySchedulerOnEditDialogClose($event)"
              [appointmentDataFields]="appointmentDataFields">
</jqxScheduler>

