<div class="row usersPanel">
  <div class="container " *ngIf="artisantDetail">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img class="card" alt="Cinque Terre" style="width:100%;" src="{{this.catalogueService.host+'/photouser/'
        +artisantDetail.id}}" />
        </div>
        <div class="panel-body">
          <table>
            <tr>
              <td>
             <strong>  {{artisantDetail.nom}}  </strong>
              </td>
            </tr>
            <tr>
              <td>
                {{artisantDetail.prenom}}
              </td>
            </tr>
            <tr>
              <td>
             <i> Numéroi de Siret:    </i>  {{artisantDetail.numeroSiret}}
              </td>
            </tr>
            <tr>
              <td>
                {{artisantDetail.recommanderBy}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-footer">
          <button class="button">Contact</button>


          <div class="rating-inline">
              <h4>Average user rating</h4>

              <h2 class="bold padding-bottom-7">{{this.message == null ?  artisantDetail.note :this.message }}<small>/ 5</small></h2>
            <app-stars [rating]='artisantDetail.note | number' (ratingClicked)='onRatingClicked($event)'></app-stars>
      </div>
      </div>
    </div>
    <div class="col-md-6" style="background-color:white">

      Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam f Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam f Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
      vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
      semper
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-lg btn-primary button" (click)="getDevis()"> Devis </button>
    </div>
  </div>
