<div class="row usersPanel">
  <div class="container " *ngIf="artisantDetail">

    <div class="col-md-4">
    <div class="panel panel-default"  style="width:230px;" >
      <div class="panel-heading">
        <img class="img-circle" alt="Cinque Terre" height="200" width="200" src="{{this.catalogueService.host+'/photouser/'
        +artisantDetail.id}}" />
      </div>
      <div class="panel-body">
        <table>
          <tr>
            <td>
{{artisantDetail.nom}}
            </td>
          </tr>
          <tr>
            <td>
                {{artisantDetail.prenom}}
            </td>
          </tr>
          <tr>
              <td>
                  {{artisantDetail.numeroSiret}}
              </td>
            </tr>
            <tr>
                <td>
                    {{artisantDetail.recommanderBy}}
                </td>
              </tr>
        </table>
      </div>
    </div>
 
  </div>
<div class="col-md-6" style="background-color:white">

    Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
     aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
     Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
     nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
     pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
     Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
     nascetur ridiculus mus. Donec quam f Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
     Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
     nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
     pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
       aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
      nascetur ridiculus mus. Donec quam f Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
      nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
       aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp     consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
       Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
       nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
       pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imp
       consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
       Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
       nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
     pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
       vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper 
</div> 
<div class="col-md-2">
    <button type="button" class="btn btn-lg btn-primary"> Devis </button>
</div> 
</div>
</div>
