<div class="row container usersPanel alert alert-danger" *ngIf="mode== 0 && errorMessage">
  {{errorMessage}}
  <strong>  the text area must not be empty to send</strong>
</div>

  <div class="metier-africa-add-artisan-conatiner uk-flex uk-flex-center" *ngIf="mode==1">
    <div class="metier-africa-add-artisan-content container" >
      <div class="uk-text-center metier-africa-add-artisan-head-wrap">
        <div class="metier-africa-add-artisan-title">
          Demande de devis Artisan
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-web">
       Les demandes de devis à la plateforme sont gratuites. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-mobile"
             style="display: none;">
          L'adhésion à la plateforme est gratuite. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
      </div>
    </div>
  </div>
<div class=" container usersPanel panel panel-success " *ngIf="mode==1">
    <div class="panel-heading">
    <strong>New request is sending to professionel Thank for using our service!!!  </strong>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          Your request is sending  : {{messageStatus}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row usersPanel" *ngIf="mode==0">
    <form  #f="ngForm"(ngSubmit)="sendEmailForDevis(f.value)">
      <div class="container">
        <h1>Quote request</h1>
        <p>Please fill in this form to send your quote request</p>
        <hr>
    
        <label class="control-label"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" ngModel name="user_name" required>
        <label class="control-label"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" ngModel name="user_lastName" required>
    
        <label class="control-label"><b>Town</b></label>
        <input type="text" placeholder="Enter town" ngModel name="user_town" required>
        <label class="control-label"><b>Code Postal</b></label>
        <input type="text" placeholder="Enter code postal ex 69006 " ngModel name="user_codePostal" required>
        <div class="input">
          <label class="control-label">Message* :</label>
          <textarea id="msg" ngModel name="user_message" class="hs-input" required placeholder style="margin: 0px; width: 1109px; height: 273px;">

          </textarea>
        </div>
        <hr>
    
        <button  class="w3-spin" type=" submit" [disabled]="!f.form.valid" class="registerbtn">Send
          <img *ngIf="loading"  style="background-color: #f5deb3"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>


        </button>

      </div>

    </form>
  
</div>
