<div class="usersPanel">
  <form class="card" style="max-width:500px;margin:auto">
    <h2>Connectez-vous à votre espace pro</h2>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="Username" name="usrnm">
    </div>

    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="text" placeholder="Email" name="email">
    </div>
        <button type="submit" class="btn">Register</button>
  </form>
</div>
