hr{
  position: relative;
  height: 5px;
  margin: -1px 0 0;
  border: 0;
  background-color: rgb(239, 121, 0);
}
.usersPanel {
  margin-top: 5%;
  padding: 6%;
  background-color: #eef2f6;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


.btn:hover {
  opacity: 1;
}
