<div class="ontime">


  <div class="timeline">
    <div class="container left" data-toggle="modal" data-target="#myModalEdit">
      <div class="content">
        <h2>2017</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2016</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2015</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2012</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2011</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2007</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
          fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
          eam.</p>
      </div>
    </div>

  </div>
  <div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">×</span></button>
            <h4 class="modal-title col-lg-5" id="modal-title">
              <img src="assets/img/catalogue/img_avatar4.png" class="img-circle " alt="John" style="width:95%">
            </h4>
            <h5 class="col-lg-4"><h3> Macon <br/> Mr. KA </h3><br/> Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto</h5>
          </div>
          <div class="modal-body">
            <div id="serverResponse"></div>
            <input type="hidden" name="objectId" id="objectId" value="1341464">
            <div id="contact-seller-form">
              <div class="row">
                <h4 class="w3-center">  Rendez-vous</h4>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          <h4 class="w3-center">Client:<br/>
            Diaguily SYLLA</h4>
          </div>
      </div>
    </div>
  </div>
</div>

