<div class="row usersPanel">
  <div class="col-lg-6 onColumn1">
    <h1> test 1</h1>
    <li tabindex="0"
        class="Tappable-inactive dl-list-item Tappable-inactive dl-card dl-card-bg-white dl-card-margin dl-card-tappable dl-appointment-item dl-appointment-item-selected dl-list-item-border dl-list-item-nopadding"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;">
    </li>
  </div>
  <div class="col-lg-6">
    <h1> test 2</h1>
  </div>
</div>
