<nav class="navbar navbar-inverse navbar-fixed-top" id="mNavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
      <a class="navbar-brand" href="#" [routerLink]="['/catalogue/1/0']"><img class="logo" src="assets/img/logo1.svg " style="background-color:aliceblue;"
          width="180"></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="active" href="#" [routerLink]="['/catalogue/1/0']"><button type="button"
              class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-home "></span> Home
            </button></a></li>
        <li><a href="#" [routerLink]="['/catalogue/1/0']">Catalogue</a></li>
        <li><a href="#" [routerLink]="['/devis']">Devis</a></li>
        <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="backgound">
<section class="container  ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/img/village.png" style="width:100%;" alt="First slide">

      </div>
      <div class="item">
        <img src="assets/img/header-background.png" style="width:100%;" alt="Second slide">
      </div>
      <div class="item">
        <img src="assets/img/metiers-du-cheval-2.png" alt="Second">
      </div>
      <div class="item">
        <img src="assets/img/education.png" alt="Third slide">
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
        class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <div class="search">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <div class="form-section">
            <div class="row">
              <form  #f="ngForm"(ngSubmit)="getcatalogueByAdresse(f.value)" role="form-inline"  >
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="sr-only" for="location">Location</label>
                    <input type="text"  [(ngModel)]="professionName" name="professionName" class="form-control" id="location" placeholder="specialiste ex:dentiste ?">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="sr-only" for="ville">Ville</label>
                    <input type="text"  [(ngModel)]="ville" name="ville" class="form-control" id="ville" placeholder="ville ex:Lyon">
                  </div>
                </div>
                <!--<div class="col-md-3">-->
                  <!--<div class="form-group">-->
                    <!--<label class="sr-only" for="code">codePostale</label>-->
                    <!--<input type="search"  [(ngModel)]="codePostale" name="ville" class="form-control" id="codePostale" placeholder="Code postal ex :69006">-->
                  <!--</div>-->
                <!--</div>-->
                <div class="col-md-3" *ngIf="categories">
                  <div  >
                    <select  class="form-control" [(ngModel)]="categoryName" name="categoryName"  searchable="Search here..">
                        <option disabled selected>Choose your categorie</option>
                        <option  *ngFor="let c of categories._embedded.categories">{{c.name}}</option>

                      </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-default btn-primary">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<section class="row" style="background-color:#efcf995e">
  <router-outlet></router-outlet>
</section>


<!-- Footer -->
<footer class="page-footer font-small row">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Ours Team</a>
          </li>
          <li>
            <a href="#!">Galeries</a>
          </li>
          <li>
            <a href="#!">Ours Clients</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pros</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Connexion</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Siege</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">FaceBoock</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://diapalema.appspot.com"> diapalema.appspot.com</a>
  </div>
  <!-- Copyright -->


</footer>
