<nav class="navbar navbar-default africa-nav navbar-fixed-top" id="mNavbar">
    <div class="navbar-header">
      <span type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
      <a class="navbar-brand" href="#" [routerLink]="['/acceuil']"><img class="logo" src="assets/img/catalogue/Capture1.png"
                                                                        width="150"></a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="active" href="#" [routerLink]="['/acceuil']">
          <span class="glyphicon glyphicon-home "></span> Home
        </a></li>
        <li><a href="#" [routerLink]="['/catalogue/1/0']">Trouver un artisan</a></li>
        <li><a href="#" [routerLink]="['/inscription']">Inscription</a></li>
        <li><a href="#" [routerLink]="['/devis']">Devis</a></li>
        <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
        <li><a href="#" [routerLink]="['/a-propos']">Aide</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
</nav>

<section class="row">
  <router-outlet></router-outlet>
</section>


<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small row">-->

<!--  &lt;!&ndash; Footer Links &ndash;&gt;-->
<!--  <div class="container text-center text-md-left">-->

<!--    &lt;!&ndash; Grid row &ndash;&gt;-->
<!--    <div class="row">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 mx-auto">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Us</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Ours Team</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Galeries</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Ours Clients</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      <hr class="clearfix w-100 d-md-none">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 mx-auto">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pros</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Connexion</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Blog</a>-->
<!--          </li>-->

<!--        </ul>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      <hr class="clearfix w-100 d-md-none">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 mx-auto">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Contact us</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Siege</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Blog</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      <hr class="clearfix w-100 d-md-none">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 mx-auto">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow us</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Twitter</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">FaceBoock</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; Grid row &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; Footer Links &ndash;&gt;-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="footer-copyright text-center py-3">© 2019 Copyright:-->
<!--    <a href="https://diapalema.appspot.com"> diapalema.appspot.com</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->


<!--</footer>-->

<!-- Footer -->
<footer class="w3-container w3-center ">
  <i class="fab fa-facebook-official w3-hover-opacity"></i>
  <i class="fab fa-instagram w3-hover-opacity"></i>
  <i class="fab fa-snapchat w3-hover-opacity"></i>
  <i class="fab fa-pinterest-p w3-hover-opacity"></i>
  <i class="fab fa-twitter w3-hover-opacity"></i>
  <i class="fab fa-linkedin w3-hover-opacity"></i>
  <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row w3-medium">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Us</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Ours Team</a>
              </li>
              <li>
                <a href="#!">Galeries</a>
              </li>
              <li>
                <a href="#!">Ours Clients</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pros</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Connexion</a>
              </li>
              <li>
                <a href="#!">Blog</a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Contact us</a>
              </li>
              <li>
                <a href="#!">Siege</a>
              </li>
              <li>
                <a href="#!">Blog</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow us</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Twitter</a>
              </li>
              <li>
                <a href="#!">FaceBoock</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
  <div class="w3-medium footer-copyright text-center ">© 2019 Copyright:
        <a href="https://diapalema.appspot.com"  target="_blank"> dioumtoukay-sn.appspot.com</a>
      </div>
</footer>
