.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.tes1{

}

/*eader.masthead .page-heading, header.masthead .site-heading {*/
/*  text-align: center;*/
/*}*/

/*header.masthead .overlay {*/
/*  position: absolute;*/
/*  !*top: 0;*!*/
/*  left: 25%;*/
/*  height: 35%;*/
/*  width: 100%;*/
/*  !*background-color: #212529;*!*/
/*  background-color: #212529;*/
/*  opacity: 0.5;*/
/*  margin-top: 35%;*/
/*}*/

/*header.masthead {*/
/*  margin-bottom: 2px;*/
/*  background: no-repeat center center;*/
/*  background-color: #868e96;*/
/*  background-attachment: scroll;*/
/*  position: relative;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*  height: 750px;*/
/*  color: white;*/
/*  margin-top: 1%;*/
/* background-image: url(/assets/img/catalogue/coutirier.jfif);*/
/*  background-position: 50%;*/
/*}*/

/*.backgound{*/
/*  background-image:url("/assets/img/metier.png");*/
/*  margin-top: 3%;*/
/*  margin-bottom: 0.5%;*/
/*}*/
.logo {
  height: 220%;
  margin-left: -8%;
  margin-top: -9%;
  background-color: #f9edd9;

}

/*.carousel {*/
/*  margin-top: 7%;*/
/*  margin-bottom: 5%;*/
/*}*/
/*  .carousel .item {*/
/*    height: 500px;*/
/*    background-color: #777;*/
/*  }*/
/*.carousel-inner > .item > img {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  min-width: 100%;*/
/*  height: 100%;*/
/*}*/
.search {
  margin-top: 35%;
  margin-left: 25%;
  width: 65%;
  color: white;

}

.search .form-section {
  /*background: rgba(0, 0, 0, 0.6);*/
  background: rgba(8, 19, 7, 0.85);
  border: 2px solid #414141;
  border-radius: 5px;
  padding: 10px;


}

.usersPanel {
  margin-top: 5%;
  padding: 2%;
}

footer {
  background-color: #2a2a2c;
  color: white;
}

a .active {
  background-color: rgb(104, 104, 236);
  border-color: rgb(104, 104, 236);
  color: blue;
}

.sidenav {
  overflow-x: hidden;
}

.nav button {
  margin-top: 6%;
  margin-right: 80%;
  min-width: 70%;
  float: right;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
