<div class="row usersPanel">

  <form action="/action_page.php">
    <div class="container">
      <h1> Needs request</h1>
      <p>Please fill in this form to send your needs</p>
      <hr>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>
      <label for="lastname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lastname" required>

      <label for="town"><b>Town</b></label>
      <input type="text" placeholder="Enter town" name="town" required>
      <label for="codePostal"><b>Code Postal</b></label>
      <input type="text" placeholder="Enter code postal ex 69006 " name="codePostal" required>
      <div class="input">
        <label for="msg">Message* :</label>
        <textarea id="msg" name="user_message" class="hs-input" required placeholder
                  style="margin: 0px; width: 1109px; height: 273px;">

          </textarea>
      </div>
      <hr>


      <button type="submit" class="registerbtn">Send</button>
    </div>

  </form>

</div>
