<div class="col-sm-2 sidenav menuPanel"  *ngIf="categories">
    <ul class="list-group"    *ngFor="let c of categories._embedded.categories">
      <li class="list-group-item clikable " [routerLink]="['/catalogue-details/',c.id]">{{c.name}}</li>
    </ul>
  </div>
    <div class=" col-md-8  cataloguePanel" *ngIf="categories">
      <div  *ngFor="let c of categories._embedded.categories">
          <div class="col-md-4">
        <div class="panel panel-default"   [routerLink]="['/catalogue-details/',c.id]">
          <div class="panel-heading">
            <img class="card" alt="Cinque Terre" height="195px" style="width:100%" src="{{this.catelogService.host+'/photocategory/'+c.id}}" />
          </div>
          <div class="panel-body">
            <!--header -->
            <table>
                <tr>
                  <td><Strong>{{c.name}}</Strong></td>
                </tr>
                <tr>
                  <td>{{c.description}}</td>
                </tr>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
