.block-prohead {
    background-color: rgba(242,242,242,1);
    padding: 10px 15px 10px 15px;
    min-height: 120px;
    max-height: 120px;
    position: relative;
}
.block-prohead .block-societe {
    position: absolute;
    top: 5px;
    left: 10px;
}
.block-prohead .label-societe {
    font-size: 15px;
}
.block-prohead .block-phone {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 60%;
    max-width: 250px;
}
.numero-vert {
    position: absolute;
    height: 28px;
}
.block-profile {
    background-color: #1a1734;
    color: #fff;
    text-align: center;
    display: block;
    height: 50px;
    padding-top: 15px;
}