<div >
  <div class="metier-africa-add-artisan-conatiner uk-flex uk-flex-center">
    <div class="metier-africa-add-artisan-content container" >
      <div class="uk-text-center metier-africa-add-artisan-head-wrap">
        <div class="metier-africa-add-artisan-title">
          Inscription Artisan
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-web">
          L'adhésion à la plateforme est gratuite. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-mobile"
             style="display: none;">
          L'adhésion à la plateforme est gratuite. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
      </div>
      <form #f="ngForm" *ngIf="categories && mode ===1" >
        <div class="metier-africa-add-artisan-form-container">
          <div class="metier-africa-add-artisan-form-2-full">
            <div class="metier-africa-add-artisan-form-2-content">
              <div class="metier-africa-add-artisan-form-2-content-title">
                À propos de l’entreprise :
              </div>
            </div>
            <div class="metier-africa-add-artisan-form-2-container">
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Nom de l’entreprise :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input ngModel name="entreprise"  data-vv-as="nom de l’entreprise " placeholder="Entrez du texte" class="uk-input metier-africa-add-artisan-form-input"
                         data-vv-id="1" aria-required="true" aria-invalid="false">
                </div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Catégorie d'activité :
                  </div>

                </div>

                <div class="uk-inline metier-africa-add-artisan-form-input-content">
                  <select  class="form-control " ngModel name="categoryName"  searchable="Search here..">
                    <option disabled selected>choisir ton domaine </option>
                    <option  *ngFor="let c of categories._embedded.categories">{{c.name}}</option>
                  </select>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Raison sociale :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input ngModel  name="raison" data-vv-as="raison sociale "placeholder="ETS, SARL, SA..."
                         class="uk-input metier-africa-add-artisan-form-input"   data-vv-id="3" aria-required="true"
                         aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    IFU/RCM :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input ngModel name="ifu" data-vv-as="iFU/RCM " placeholder="Entrez du texte" class="uk-input metier-africa-add-artisan-form-input"
                         data-vv-id="4" aria-required="true" aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Jours d'ouvertures :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content">
                 <input ngModel name="jour" data-vv-as="jours d'ouvertures " placeholder="Choisissez un ou plusieurs jours"
                  class="uk-input metier-africa-add-artisan-form-input" data-vv-id="5" aria-required="true"
                  aria-invalid="false">
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Pays :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content" *ngIf="pays">
                  <select   class="uk-input metier-africa-add-artisan-form-input" data-vv-id="6" aria-required="true"
                  aria-invalid="false" ngModel name="pays"  searchable="Search here..">
                    <option disabled selected>choisir ton pays</option>
                    <option    *ngFor="let c of pays">{{c}}</option>
                  </select>
                  <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Coût horaire :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input ngModel type="number"  name="cout" data-vv-as="coût horaire " placeholder="Précisez votre coût de travail" class="uk-input metier-africa-add-artisan-form-input" data-vv-id="7" aria-required="true" aria-invalid="false">
                </div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Zone d'intervention :
                  </div>
                </div>

                <div class="uk-inline metier-africa-add-artisan-form-input-content" *ngIf="villes" >
                  <tag-input  name="tags" [(ngModel)]="filteredCountriesMultiple" [onlyFromAutocomplete]="true"  [maxItems]='5' theme='bootstrap3-info' [placeholder]="'ajoutez les villes d\'intervention'" [secondaryPlaceholder]="'ajoutez les villes d\'intervention'" >
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="villes"  [dynamicUpdate]="false">
                    </tag-input-dropdown>
                  </tag-input>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Nombre d'années d'expérience :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input type="number" ngModel name="experience" data-vv-as="nombre d'années d'expérience" placeholder="Entrez du texte"
                         class="uk-input metier-africa-add-artisan-form-input" data-vv-id="9" aria-required="true"
                         aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
            </div>
          </div>
          <hr class="metier-africa-add-artisan-form-divider-x">
          <div>
            <div class="metier-africa-add-artisan-form-3-content">
              <div class="metier-africa-add-artisan-form-3-content-title">
                Contacts de l’entreprise:
              </div>
            </div>
            <div class="metier-africa-add-artisan-form-3-container">
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro de téléphone 1:
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input type="number" ngModel name="telephone" data-vv-as="numéro de téléphone 1" placeholder="Entrez du texte" class="uk-input metier-africa-add-artisan-form-input"
                         data-vv-id="10" aria-required="true" aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro de téléphone 2:
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input type="number" ngModel  name="telephone2"  placeholder="Entrez du texte" class="uk-input metier-africa-add-artisan-form-input">
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro WhatsApp
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content">
                  <input type="number" ngModel name="whatsapp" data-vv-as="numéro WhatsAp" placeholder="Entrez du texte"
                         class="uk-input metier-africa-add-artisan-form-input" data-vv-id="11" aria-required="true"
                         aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-checked-group" style="padding-bottom: 0px;">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Par quel moyen souhaitez-vous être contacté en priorité :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-checked-group-items">
                  <div>
                    <input ngModel checked="checked" name="contacterViasTel" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Appels téléphoniques</label></div>
                  <div>
                    <input ngModel name="contacterViasWhatshap" type="checkbox" class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Messagerie WhatsApp</label></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-checked-group">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Langues parlées
                  </div>
                </div>
                <div class="metier-africa-add-artisan-checked-group-items">
                  <div>
                    <input ngModel checked="checked" name="langFr" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Français</label></div>
                  <div>
                    <input ngModel name="langEng" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> English</label></div>
                </div>
              </div>
            </div>
          </div>
          <hr class="metier-africa-add-artisan-form-divider-x">
          <div class="metier-africa-add-artisan-form-4-content">
            <div class="metier-africa-add-artisan-full-body-avis-footer">
              <button class="uk-button metier-africa-add-artisan-full-body-avis-footer-button-remove">
                Annuler
              </button>
              <button class="uk-button metier-africa-add-artisan-full-body-avis-footer-button-apply" (click) = "addProfessional(f.value)">
                Soumettre
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="mode === 0" class="alert alert-danger">{{message}} an error occured !!!
    <div class="panel-body">
      <button class="btn btn-lg btn-elegant" (click)="goToInscription()">Back </button>
    </div>
    </div>
  </div>
</div>
