<div >
  <div class="metier-africa-add-artisan-conatiner uk-flex uk-flex-center">
    <div class="metier-africa-add-artisan-content container" >
      <div class="uk-text-center metier-africa-add-artisan-head-wrap">
        <div class="metier-africa-add-artisan-title">
          Inscription Artisan
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-web">
          L'adhésion à la plateforme est gratuite. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
        <div class="metier-africa-add-artisan-form-head-txt metier-africa-add-artisan-form-head-txt-show-mobile"
             style="display: none;">
          L'adhésion à la plateforme est gratuite. Les valeurs qui nous importent sont vos qualités professionnelles et
          humaines. Pour être un artisan sur notre plateforme, remplissez le formulaire ci dessous. Nous procéderons à
          des vérifications.
        </div>
      </div>
      <form>
        <div class="metier-africa-add-artisan-form-container">
          <div class="metier-africa-add-artisan-form-2-full">
            <div class="metier-africa-add-artisan-form-2-content">
              <div class="metier-africa-add-artisan-form-2-content-title">
                À propos de l’entreprise :
              </div>
            </div>
            <div class="metier-africa-add-artisan-form-2-container">
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Nom de l’entreprise :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="entreprise"
                                                                                 data-vv-as="nom de l’entreprise "
                                                                                 placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="1" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Catégorie d'activité :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content"><span
                  uk-icon="icon: chevron-down; ratio: 1.3" class="uk-form-icon uk-form-icon-flip uk-icon"><svg
                  width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <polyline
                  fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span> <input
                  name="categorieall" data-vv-as="catégorie d'activité " readonly="readonly"
                  placeholder="Cliquez pour choisir une catégorie" class="uk-input metier-africa-add-artisan-form-input"
                  data-vv-id="2" aria-required="true" aria-invalid="false">
                  <div uk-dropdown="mode: click"
                       class="metier-africa-page-body-search-from-input-dropdown-add-artisan uk-dropdown">

                  </div>
                  <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input metier-africa-add-artisan-other-categorie"
                   style="display: none;">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Autre
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input placeholder="Saisir"
                                                                                 class="uk-input metier-africa-add-artisan-form-input">
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Raison sociale :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="raison"
                                                                                 data-vv-as="raison sociale "
                                                                                 placeholder="ETS, SARL, SA..."
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="3" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    IFU/RCM :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="ifu" data-vv-as="iFU/RCM "
                                                                                 placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="4" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Jours d'ouvertures :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content"><span
                  uk-icon="icon: chevron-down; ratio: 1.3" class="uk-form-icon uk-form-icon-flip uk-icon"><svg
                  width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <polyline
                  fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span> <input
                  name="jour" data-vv-as="jours d'ouvertures " placeholder="Choisissez un ou plusieurs jours"
                  class="uk-input metier-africa-add-artisan-form-input" data-vv-id="5" aria-required="true"
                  aria-invalid="false">
                  <div uk-dropdown="mode: click"
                       class="metier-africa-page-body-search-from-input-dropdown-add-artisan uk-dropdown">

                  </div>
                  <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Pays :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content"><span
                  uk-icon="icon: chevron-down; ratio: 1.3" class="uk-form-icon uk-form-icon-flip uk-icon"><svg
                  width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <polyline
                  fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span> <input
                  read-only="" name="pays" data-vv-as="pays " placeholder="Choisissez un pays" readonly="readonly"
                  class="uk-input metier-africa-add-artisan-form-input" data-vv-id="6" aria-required="true"
                  aria-invalid="false">
                  <div uk-dropdown="mode: click"
                       class="metier-africa-page-body-search-from-input-dropdown-add-artisan uk-dropdown">

                  </div>
                  <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Coût horaire :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="cout" data-vv-as="coût horaire "
                                                                                 placeholder="Précisez votre coût de travail"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="7" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Zone d'intervention :
                  </div>
                </div>
                <div class="uk-inline metier-africa-add-artisan-form-input-content"><span
                  uk-icon="icon: chevron-down; ratio: 1.3" class="uk-form-icon uk-form-icon-flip uk-icon"><svg
                  width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <polyline
                  fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline></svg></span> <input
                  name="ville" data-vv-as="zone d'intervention "
                  placeholder="Choisissez un ou plusieurs zones d'intervention" readonly="readonly"
                  class="uk-input metier-africa-add-artisan-form-input" data-vv-id="8" aria-required="true"
                  aria-invalid="false">
                  <div uk-dropdown="mode: click"
                       class="metier-africa-page-body-search-from-input-dropdown-add-artisan uk-dropdown">

                  </div>
                  <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input metier-africa-add-artisan-other-citie"
                   style="display: none;">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Autres (ville 1, ville 2)
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input placeholder="Saisir"
                                                                                 class="uk-input metier-africa-add-artisan-form-input">
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Nombre d'années d'expérience :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="nombre"
                                                                                 data-vv-as="nombre d'années d'expérience "
                                                                                 placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="9" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
            </div>
          </div>
          <hr class="metier-africa-add-artisan-form-divider-x">
          <div>
            <div class="metier-africa-add-artisan-form-3-content">
              <div class="metier-africa-add-artisan-form-3-content-title">
                Contacts de l’entreprise :
              </div>
            </div>
            <div class="metier-africa-add-artisan-form-3-container">
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro de téléphone 1:
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="telephone"
                                                                                 data-vv-as="numéro de téléphone 1"
                                                                                 placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="10" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro de téléphone 2:
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input">
                </div>
              </div>
              <div class="metier-africa-add-artisan-form-label-and-input">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Numéro WhatsApp
                  </div>
                </div>
                <div class="metier-africa-add-artisan-form-input-content"><input name="whatsapp"
                                                                                 data-vv-as="numéro WhatsAp"
                                                                                 placeholder="Entrez du texte"
                                                                                 class="uk-input metier-africa-add-artisan-form-input"
                                                                                 data-vv-id="11" aria-required="true"
                                                                                 aria-invalid="false"></div>
                <div class="metier-africa-form-show-error-msg-txt" style="display: none;"></div>
              </div>
              <div class="metier-africa-add-artisan-checked-group" style="padding-bottom: 0px;">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Par quel moyen souhaitez-vous être contacté en priorité :
                  </div>
                </div>
                <div class="metier-africa-add-artisan-checked-group-items">
                  <div><input checked="checked" name="metier-africa-add-artisan-contact" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Appels téléphoniques</label></div>
                  <div><input name="metier-africa-add-artisan-contact" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Messagerie WhatsApp</label></div>
                </div>
              </div>
              <div class="metier-africa-add-artisan-checked-group">
                <div class="metier-africa-add-artisan-form-label-content">
                  <div class="metier-africa-add-artisan-form-label">
                    Langues parlées
                  </div>
                </div>
                <div class="metier-africa-add-artisan-checked-group-items">
                  <div><input checked="checked" name="metier-africa-add-artisan-lang" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> Français</label></div>
                  <div><input name="metier-africa-add-artisan-lang" type="checkbox"
                              class="uk-checkbox metier-africa-add-artisan-checkbox"> <label
                    class="metier-africa-add-artisan-checkbox-label"> English</label></div>
                </div>
              </div>
            </div>
          </div>
          <hr class="metier-africa-add-artisan-form-divider-x">
          <div class="metier-africa-add-artisan-form-4-content">
            <div class="metier-africa-add-artisan-full-body-avis-footer">
              <button class="uk-button metier-africa-add-artisan-full-body-avis-footer-button-remove">
                Annuler
              </button>
              <button class="uk-button metier-africa-add-artisan-full-body-avis-footer-button-apply">
                Soumettre
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
