<div>
  <div id="myCarousel" class="carousel slide uk-inline-clip " data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active uk-inline-clip ">
        <!--        https://wallpaperscraft.com/image/asia_skyscrapers_river_top_view_night_lights_city_28590_1920x1080.jpg-->
        <img src="assets/img/catalogue/soudeur.jfif" class="img-responsive" id="carousel-img">
      </div>
      <div class="item">
        <!--        http://eskipaper.com/images/top-city-wallpapers-1.jpg-->
        <img src="assets/img/catalogue/plombier.jfif" class="img-responsive" id="carousel-img">
      </div>
      <div class="item">
        <!--        http://www.creativehdwallpapers.com/uploads/large/city/top-5-city-wallpaper.jpg-->
        <img src="assets/img/catalogue/coutirier.jfif" class="img-responsive" id="carousel-img">
      </div>
      <div class="item">
        <!--      http://www.creativehdwallpapers.com/uploads/large/city/top-5-city-wallpaper.jpg-->
        <img src="assets/img/catalogue/meca.jfif" class="img-responsive" id="carousel-img">
      </div>
    </div>
  </div>
  <div class="vertical-center uk-inline-clip ">
    <div class="container-fluid">
      <div class="row">
        <div class="container">

          <form #f="ngForm" class="form-inline container" (ngSubmit)="getcatalogueByAdresse(f.value)" role="form"
                novalidate>
            <div class="metier-africa-subheader-overlay-content-title-second">À la recherche d’un artisan&nbsp;?</div>
            <div class="metier-africa-subheader-overlay-content-title-first">Trouvez un artisan près de chez vous, pour
              tous types de travaux
            </div>
            <div class="form-group">
              <div
                class="metier-africa-search-landing-page-input-page-body-search-from-column-select-2-not-filter metier-africa-search-landing-page-input-page-body-search-from-column-select-2-not-filter-p-left">
                <div class="uk-inline metier-africa-search-landing-page-input-page-body-search-from-inline-input">
                  <div
                    class="uk-inline metier-africa-search-landing-page-input-page-body-search-from-inline-input metier-africa-search-landing-page-input-page-body-search-from-inline-input-category metier-africa-search-landing-page-input-is-apply-category">

                    <label for="ma-page-search-category"
                           class="metier-africa-search-landing-page-input-page-body-search-from-label">

                  <span uk-icon="icon: search; ratio: 1.3"
                        class="uk-form-icon metier-africa-search-landing-page-input-page-body-search-from-icon uk-icon"><svg
                    width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <circle
                    fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle> <path fill="none"
                                                                                                     stroke="#000"
                                                                                                     stroke-width="1.1"
                                                                                                     d="M14,14 L18,18 L14,14 Z"></path></svg></span>
                      Rechercher</label> <input type="text"  name="professionName" ngModel
                                                id="ma-page-search-category"
                                                placeholder="maçon, peintre, plombier..."
                                                class="uk-input metier-africa-search-landing-page-input-page-body-search-from-input metier-africa-search-landing-page-input-page-body-search-from-input-mobile">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div
                class="metier-africa-search-landing-page-input-page-body-search-from-column-select-2-not-filter metier-africa-search-landing-page-input-page-body-search-from-column-select-2-not-filter-p-left">
                <div class="uk-inline metier-africa-search-landing-page-input-page-body-search-from-inline-input">
                  <div
                    class="uk-inline metier-africa-search-landing-page-input-page-body-search-from-inline-input metier-africa-search-landing-page-input-page-body-search-from-inline-input-location metier-africa-search-landing-page-input-is-apply-location">
                    <label
                      for="ma-page-search-location"
                      class="metier-africa-search-landing-page-input-page-body-search-from-label1">
              <span uk-icon="icon: location; ratio: 1.3"
                    class="uk-form-icon metier-africa-search-landing-page-input-page-body-search-from-icon uk-icon"><svg
                width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.3"> <path
                fill="none" stroke="#000" stroke-width="1.01"
                d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z"></path> <circle
                fill="none" stroke="#000" cx="10" cy="6.8" r="2.3"></circle></svg></span> À
                      proximité de</label>
                    <input type="text" id="ma-page-search-location" name="ville" ngModel placeholder="ville, quartier..."
                           class="uk-input metier-africa-search-landing-page-input-page-body-search-from-input metier-africa-search-landing-page-input-page-body-search-from-input-mobile">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group buttonMargin">
              <button type="submit" [disabled]="!f.form.valid" class="btn btn-lg btn-primary">Chercher</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="uk-text-center metier-africa-categorie-metier-container container-fluid">
  <div class="uk-flex uk-flex-center">
    <div class="metier-africa-categorie-metier-list-container-flex-center" *ngIf="categories"><h1
      id="metier-africa-proposition-value-container-ancre" class="uk-text-left metier-africa-categorie-metier-title">
      Recherche par catégorie :
    </h1>
      <div class="metier-africa-categorie-metier-list-container container ">
        <div class="metier-africa-categorie-metier-step-content uk-grid"
             *ngFor="let c of categories._embedded.categories">
          <div tabindex="0" class="metier-africa-categorie-metier-step-column uk-transition-toggle"
               visibleathome="true" country="bj" active="true"
               style="opacity: 1; height: 150px;" [routerLink]="['/catalogue-details/',c.id]"><img
            src="{{this.catelogService.host+'/photocategory/'+c.id}}"
            alt="metier-artisan"
            class="metier-africa-categorie-metier-icon uk-transition-scale-down uk-transition-opaque">
            <div class="metier-africa-categorie-metier-title-box">
              {{c.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="argument" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="iconeDiv iconeDivEkomi">
          <img src="assets/img/catalogue/ekomi.png" class="img-circle img-ekomi" alt="Logo Ekomi">
        </div>
        <h3>Sama-Artisan.Pro</h3>
        <p>
          <img id="logoModal" src="assets/img/catalogue/note_lba.jpg" alt="Mon-Artisan.pro est noté 4.5/5"
               class="img-stars">
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="iconeDiv">
          <img src="assets/img/catalogue/icone-qualite.png" alt="Icone de qualité">
        </div>
        <h3>Qualité</h3>
        <p>
          Artisans certifiés par un label qualité
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="iconeDiv">
          <img src="assets/img/catalogue/icone-gratuite.png" alt="Icone de gratuité">
        </div>
        <h3>Gratuité</h3>
        <p>
          Devis et accompagnement intégralement gratuit
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="iconeDiv">
          <img src="assets/img/catalogue/icone-simplicite.png" alt="Icone de simplicité">
        </div>
        <h3>Simplicité</h3>
        <p>
          Mise en relation simple rapide et sécurisée
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container-large metier-africa-container-large" ngShow="!curenteSearchUsers">
  <div class="uk-section metier-africa-section-promesse-subtitle">
    <div class="uk-inline-clip metier-africa-promesse-uk-inline">
      <img src="assets/img/catalogue/promesse.jpg"
           alt="artisan-couverture-home"
           class="metier-africa-promesse-cover-img">
      <div class="metier-africa-promesse-cover-img-overlay uk-position-cover"></div>
      <div class="uk-flex uk-flex-center">
        <div class="uk-position-center metier-africa-promesse-overlay-position">
          <div class="uk-text-center metier-africa-promesse-overlay-content">
            <div class="metier-africa-promesse-overlay-content-border-all"><h1
              class="metier-africa-promesse-overlay-content-title">
              Notre promesse
            </h1>
              <p class="metier-africa-promesse-overlay-content-desc-first">
              <p><span style="font-weight: 400;">Chez sama-artisan.africa, <strong>nous vous mettons en relation directe avec des artisans qualifiés et qui s’engagent à respecter une charte exigeante.</strong></span>
              </p>
              <p><span style="font-weight: 400;">Grand chantier ou petite rénovation, nous vous aidons à choisir les meilleurs experts capables de répondre à vos besoins spécifiques.</span>
              </p>
              <div class="metier-africa-promesse-overlay-content-button-container">
                <button [routerLink]="['/a-propos']" class="uk-button metier-africa-promesse-overlay-content-button">
                  En savoir plus
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row equipeContact" style=" margin-top: 2%;">
  <div class="container w3-center">
    <h1>Nos artisans</h1>
    <h5> Découvrez une sélection d'artisans de votre région.</h5>

    <div id="myCarousels" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousels" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousels" data-slide-to="1"></li>
        <li data-target="#myCarousels" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" *ngIf="users">
          <div class="col-md-3" *ngFor="let user of users">
            <div class="card">
              <img src="assets/img/catalogue/img_avatar4.png" alt="John" style="width:100%">
              <h1>{{user.nom}}</h1>
              <p class="title">{{user.prenom}}</p>

              <div style="margin: 24px 0;">
                <a href="#"><i class="fab fa-dribbble"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </div>
              <p>
                <button (click)="toggleTel(user)" class="w3-button w3-green">Contacter <i class="w3-medium"
                                                                                          *ngIf="iscontactChecked && currentUser ==user ">:<b>{{user.tele}}</b></i>
                </button>
            </div>
          </div>
        </div>
        <div class="item" *ngIf="users">
          <div class="col-md-3" *ngFor="let user of users">
            <div class="card">
              <img src="assets/img/catalogue/img_avatar4.png" alt="John" style="width:100%">
              <h1>{{user.nom}}</h1>
              <p class="title">{{user.prenom}}</p>
              <div style="margin: 24px 0;">
                <a href="#"><i class="fab fa-dribbble"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <p>
                  <button (click)="toggleTel(user)" class="w3-button w3-green">Contacter <i class="w3-medium"
                                                                                            *ngIf="iscontactChecked && currentUser ==user ">:<b>{{user.tele}}</b></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container w3-center w3-padding-bottom w3-margin-top ">
    <button [routerLink]="['/catalogue/1/0']" class="w3-button w3-red">Touvez nos Artisan</button>
  </div>
  <div class="row">
    <div class="container  ">
      <div class="col-md-12 equipe">
        <h1>Une équipe à votre service</h1>

        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle " alt="John" style="width:35%">
        </div>
        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle" alt="John" style="width:35%">
        </div>
        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle" alt="John" style="width:35%">
        </div>
        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle" alt="John" style="width:35%">
        </div>
        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle" alt="John" style="width:35%">
        </div>
        <div class="col-md-4">
          <img src="assets/img/catalogue/img_avatar4.png" class="img-circle" alt="John" style="width:35%">
        </div>

        <div class="row ">
          <div class="col-md-12 contacter">
            <h1> Nous Contacter</h1>
            <h1><p>Téléphone: 04-58-00-10 </p></h1>
            <div class="w3-container">

              <button data-toggle="modal" data-target="#myModalEdit" class="w3-button w3-black">Être rapppelé</button>
              <div id="myModalEdit" class="modal fade" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form id="contact-seller"  class="form-horizontal" #f="ngForm"(ngSubmit)="sendForContactMe(f.value)">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">×</span></button>
                        <h4 class="modal-title text-center" id="modal-title">Contacter</h4>
                      </div>
                      <div class="modal-body">
                        <div id="serverResponse"></div>
                        <input type="hidden" name="objectId" id="objectId" value="1341464">
                        <div id="contact-seller-form">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                  <label for="name">Votre prénom &amp; Nom <span class="obligatoire">*</span></label>
                                  <input type="text" class="form-control" id="txtNom" placeholder="Prénom &amp; Nom"
                                         ngModel name="name" required #name="ngModel">
                                  <span class="help-block alert-danger" *ngIf="!name.valid && name.touched">Renseignez votre numéro si vous souhaitez être contacté par</span>
                                </div>
                                <div class="form-group">
                                  <label for="txtEmail">Votre adresse email <span class="obligatoire">*</span></label>
                                  <input type="email" class="form-control" id="txtEmail" placeholder="Adresse Email"
                                         name="email" required ngModel #email="ngModel">
                                  <span class="help-block alert-danger" *ngIf="!email.valid && email.touched">Renseignez votre email si vous souhaitez être contacté par</span>

                                </div>
                                <div class="form-group">
                                  <label for="txtPhone">Votre téléphone:</label>
                                  <input  type="tel" class="form-control" id="txtPhone" placeholder="Votre téléphone"
                                          ngModel     name="tel" required  #tel="ngModel">
                                    <span class="help-block alert-danger" *ngIf="!tel.valid && tel.touched">Renseignez votre numéro si vous souhaitez être contacté par</span>
                                </div>
                                <div class="form-group">
                                  <label for="txtNom">Votre message <span class="obligatoire">*</span></label>
                                  <textarea class="form-control" rows="3"
                                            placeholder="Message: Je souhaite réalisé mon projet sur ......"
                                         ngModel   name="message" id="txtMessage" required  #message="ngModel">
                                  </textarea>
                                  <span class="help-block alert-danger" *ngIf="!message.valid && message.touched">Renseignez votre email si vous souhaitez être contacté par</span>
                                </div>

                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Lff7WIUAAAAAG2UuSYktpVi2Mz7tB6cgXnO1Tez"></div>
                            <div *ngIf="captchaError" class="error">Recaptcha not verified.</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-sm-6 col-md-6 col-xs-6">
                            <button type="submit" form="contact-seller" disabled="!f.form.invalid"
                                    id="contact-seller-send" value="Envoyer"
                                    class="btn btn-primary btn-block btn-rounded"  [disabled]="f.form.invalid">Envoyer
                            </button>
                          </div>
                          <div class="col-sm-6 col-md-6 col-xs-6">
                            <button type="button" class="btn btn-default btn-block btn-rounded" data-dismiss="modal">
                              Annuler
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container commentMarche">
  <h2 class="text-center">Comment ça marche, TopArtisan.com ?</h2>
  <div class="row fonctionnement text-center animated">
    <div class="etape etape-1 col-6 col-md-3" style="transform: translate(0px, 0px); opacity: 1;">
      <a data-toggle="collapse" href="#etape_1">
        <div class="image"><img src="assets/img/etape_1.png" alt="Je recherche un artisan"></div>
        <div class="titre_etape">J'ai besoin de travaux,<br> je cherche une solution</div>
        <div><i class="fa fa-caret-down"></i></div>
      </a>
      <div class="collapse" id="etape_1">
        <p>Je choisis ma prestation</p>
        <div><i class="fa fa-caret-down"></i></div>
        <p>Je renseigne ma ville</p>
      </div>
    </div>
    <div class="etape etape-2 col-6 col-md-3" style="transform: translate(0px, 0px); opacity: 1;">
      <a data-toggle="collapse" href="#etape_2">
        <div class="image"><img src="assets/img/etape_2.png" alt="Je choisis mon artisan"></div>
        <div class="titre_etape">je trouve<br> mon artisan</div>
        <div><i class="fa fa-caret-down"></i></div>
      </a>
      <div class="collapse" id="etape_2">
        <p>Je consulte la liste des pros, les avis et je choisis celui qu'il me faut</p>
        <div><i class="fa fa-caret-down"></i></div>
        <p>Je rentre mes souhaits de RDV</p>
      </div>
    </div>
    <div class="etape etape-3 col-6 col-md-3" style="transform: translate(0px, 0px); opacity: 1;">
      <a data-toggle="collapse" href="#etape_3">
        <div class="image"><img src="assets/img/etape_3.png" alt="Je réserve mon artisan"></div>
        <div class="titre_etape">Je réserve<br> mon artisan</div>
        <div><i class="fa fa-caret-down"></i></div>
      </a>
      <div class="collapse" id="etape_3">
        <p>Je paye en ligne pour réserver mon artisan</p>
        <div><i class="fa fa-caret-down"></i></div>
        <p>Il me confirme le RDV</p>
      </div>
    </div>
    <div class="etape etape-4 col-6 col-md-3" style="transform: translate(0px, 0px); opacity: 1;">
      <a data-toggle="collapse" href="#etape_4">
        <div class="image"><img src="assets/img/etape_4.png" alt="Mes travaux sont réalisés"></div>
        <div class="titre_etape">Et je suis<br> zen</div>
        <div><i class="fa fa-caret-down"></i></div>
      </a>
      <div class="collapse" id="etape_4">
        <p>Mes travaux sont réalisés</p>
        <div><i class="fa fa-caret-down"></i></div>
        <p>Mon artisan est payé une fois les travaux terminés, pas avant !</p>
      </div>
    </div>
  </div>
</div>
<div class="container w3-center ">
  <h2>Nous somme ici</h2>
  <div class="row">
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
